name: CI

on:
  push:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Run converter on examples
        run: |
          mkdir -p docs
          python src/liz2standoff.py
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/**
